= simple_form_for(@node, remote: true) do |f|
  = f.input :title, placeholder: 'Title'
  = f.input :content
  = f.input :x, as: :hidden
  = f.input :y, as: :hidden
  %div.input
    = render 'm_d_e/editor'
  = f.submit
