<!DOCTYPE html>
%html
  %head
    %title Nodebook
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %meta{ content: "user-scalable=no, initial-scale=1, maximum-scale=1", name: "viewport" }
  %body
    %div.main
      %header
        %a.logo{ href: (user_signed_in? ? '/' : welcome_path) }
          =image_tag 'logo.svg'
          Nodebook
        %nav.collapse
          %ul.collapses#header_collapse
            - if user_signed_in?
              %li= link_to 'My nodebook', '/'
              %li= link_to 'Log out', destroy_user_session_path, method: :delete
            - else
              %li= link_to 'Log in', new_user_session_path
          %span.toggle.flaticon.flaticon-menu{ 'data-collapse' => 'header_collapse' }
      -if notice
        %p.notice= notice
      -if alert
        %p.alert= alert

      %div.content
        = yield
      %footer
        %center
          %nav
            %ul
              %li= link_to 'About', about_path
    = yield :fixes 
